.task {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #f5f5f5 !important;
    border-radius: 3px !important;
    cursor: pointer;

    .cardContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .taskId {
        display: inline-flex;
        align-items: center;
        margin-bottom: 5px;
        margin-right: auto;

        svg {
            font-size: 1em;
            visibility: hidden;
            margin-left: 5px;
        }

        &:hover svg {
            visibility: visible;
        }
    }

    .bottom {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        align-items: center;

        svg {
            font-size: 1.2em;
            margin-right: 3px;
        }

        span {
            margin-right: 10px;
        }
    }

    .subTask {
        margin-top: 10px;
        display: inline-block;
        width: 25px;
        height: 8px;
        margin-right: 10px;
    }

    .avatar img,
    .avatar span {
        margin-left: 10px;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
}
